<?xml version="1.0" encoding="utf-8"?>

<launch>

<arg name="robot_1_map_drop_input_topic" default="multijackal_01/map_points" />
<arg name="robot_2_map_drop_input_topic" default="multijackal_02/map_points" />
<arg name="robot_3_map_drop_input_topic" default="multijackal_03/map_points" />

<!-- ROS parameters -->
<rosparam>use_sim_time: true</rosparam>

<group ns="map_merge">
  <node pkg="map_merge_3d" type="map_merge_node" respawn="true" name="map_merge_3d" output="screen">
    <!-- remap tf topics to merged ones -->
    <remap from="/tf" to="/tf" />
    <remap from="/tf_static" to="/tf_static" />

    <param name="robot_map_topic" value="map_points"/>
    <param name="robot_namespace" value="multijackal_0"/>
    <param name="merged_map_topic" value="map"/>
    <param name="world_frame" value="map"/>
    <param name="compositing_rate" value="1.0"/>
    <param name="discovery_rate" value="0.05"/>
    <param name="estimation_rate" value="0.07"/>
    <param name="publish_tf" value="false"/>
    <!-- and all the other map merging parameters -->
    <param name="resolution" value="0.1"/>
    <param name="outliers_min_neighbours" value="100"/>
    <param name="max_iterations" value="100"/>
    <param name="inlier_threshold" value="0.1"/>
    <param name="refine_transform" value="1"/>
    <!-- <param name="max_correspondence_distance" value="2.5"/> -->
    <param name="refine_method" value="FAST_VGICP"/>
    <param name="transform_epsilon" value="0.01"/>
    <param name="normal_radius" value="0.3"/>
    <param name="descriptor_type" value="FPFH" /> <!--PFH, FPFH, RSD, SC3D -->
    <param name="descriptor_radius" value="0.8" />
    <param name="matching_k" value="10" />
    <param name="confidence_threshold" value="10.0"/>
    <param name="output_resolution" value="0.05"/>
    <param name="estimation_method" value="MATCHING"/> <!-- MATCHING, SAC_IA, NDT-->
    <param name="correspondence_method" value="RECIPROCAL"/> <!-- KDTREE, RECIPROCAL-->
    <param name="keypoint_type" value="HARRIS" /> <!-- HARRIS, SIFT, ISS-->
    <param name="keypoint_threshold" value="0.01" />
    <param name="reg_step_size" value="0.1" />
    <param name="reg_resolution" value="1.0" />
    <param name="filter_z_min" value="0.3" />
    <param name="filter_z_max" value="5.0" />
  </node>
</group>

<!-- 2D & 3D octomap mapper node-->
<node pkg="map_merge_3d" type="octomap_mapper_node" respawn="true" name="octomap_mapper" output="screen">
  <param name="resolution" value="0.1"/>
  <param name="merged_map_topic" value="map_merge/map"/>
</node>

<!-- Map topic dropper node to simulate lost of connection-->
<!-- <node name="multijackal_01_map_points_dropper" type="drop" pkg="topic_tools" args="$(arg robot_1_map_drop_input_topic) 1 100" />
<node name="multijackal_02_map_points_dropper" type="drop" pkg="topic_tools" args="$(arg robot_2_map_drop_input_topic) 2 100" />
<node name="multijackal_03_map_points_dropper" type="drop" pkg="topic_tools" args="$(arg robot_3_map_drop_input_topic) 3 100" /> -->

</launch>
	
